<% layout('layout') -%>

<!--<h1><%= title %></h1>-->

<h2>Bitly</h2>
<div class="row">
  <div class="col-sm-6">
    <div class="list-group">
      <a class="list-group-item" href="/bitly/shorten">Shorten</a>
      <a class="list-group-item" href="/bitly/expand">Expand</a>
      <a class="list-group-item" href="/bitly/lookup">Lookup</a>
      <a class="list-group-item" href="/bitly/clicks">Clicks</a>
      <a class="list-group-item" href="/bitly/referrers">Referrers</a>
    </div>
  </div>
</div>

