<% layout('layout') -%>

<!--<h1><%= title %></h1>-->

<h2>Bitly</h2>
<ul>
  <li><a href="/bitly/shorten">Shorten</a></li>
  <li><a href="/bitly/expand">Expand</a></li>
  <li><a href="/bitly/lookup">Lookup</a></li>
</ul>

